@use "variables" as *;

// =============================================================================
// Extra Utilities
// =============================================================================

// User interaction
.e-ns {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.e-ne {
  pointer-events: none;
}
.e-p {
  cursor: pointer;
}

// =============================================================================
// Dimensions
// =============================================================================

@each $suffix, $value in $dimension-values {
  .eh-#{$suffix} {
    height: $value !important;
  }
  // Use dvw for width viewport, dvh for height viewport
  .ew-#{$suffix} {
    @if $suffix == "100v" {
      width: 100dvw !important;
    } @else {
      width: $value !important;
    }
  }
}

// =============================================================================
// Float
// =============================================================================

.ef-r {
  float: right !important;
}
.ef-l {
  float: left !important;
}
